<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fidd.lelepedia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.fidd.lelepedia.Dota.MenuDota"/>
        <activity android:name="com.fidd.lelepedia.Dota.Navi"/>
        <activity android:name="com.fidd.lelepedia.Dota.Nigma"/>
        <activity android:name="com.fidd.lelepedia.Dota.Boom"/>
        <activity android:name="com.fidd.lelepedia.Dota.VP"/>
        <activity android:name="com.fidd.lelepedia.Dota.OG"/>
        <activity android:name="com.fidd.lelepedia.Dota.Secret"/>
        <activity android:name="com.fidd.lelepedia.R6.MenuR6"/>
        <activity android:name="com.fidd.lelepedia.R6.G2"/>
        <activity android:name="com.fidd.lelepedia.R6.BDS"/>
        <activity android:name="com.fidd.lelepedia.R6.Secret"/>
        <activity android:name="com.fidd.lelepedia.R6.TSM"/>
        <activity android:name="com.fidd.lelepedia.R6.Faze"/>
        <activity android:name="com.fidd.lelepedia.R6.Empire"/>
        <activity android:name="com.fidd.lelepedia.Valorant.MenuValorant"/>
        <activity android:name="com.fidd.lelepedia.Valorant.T1"/>
        <activity android:name="com.fidd.lelepedia.Valorant.TSM"/>
        <activity android:name="com.fidd.lelepedia.Valorant.Thieves"/>
        <activity android:name="com.fidd.lelepedia.Valorant.Giants"/>
        <activity android:name="com.fidd.lelepedia.Valorant.G2"/>
        <activity android:name="com.fidd.lelepedia.Valorant.C9"/>
        <activity android:name="com.fidd.lelepedia.Home" />
        <activity android:name="com.fidd.lelepedia.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>